In [5]:
import calendarific
import requests
import pandas as pd
import numpy as np

In [6]:
v = pd.read_csv('./plane_crash_data.csv')
v

,date,time,location,operator,flight_number,route,aircraft_type,registration,cn_ln,aboard,fatalities,ground,summary
0,"September 17, 1908",17:18,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",06:30,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",c 18:30,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...
5,"October 17, 1913",c 10:30,"Near Johannisthal, Germany",Military - German Navy,?,?,Zeppelin L-2 (airship),?,?,30 (passengers:? crew:?),30 (passengers:? crew:?),0,Hydrogen gas which was being vented was sucked...
6,"March 05, 1915",c 01:00,"Tienen, Belgium",Military - German Navy,?,?,Zeppelin L-8 (airship),?,?,41 (passengers:? crew:?),21 (passengers:? crew:?),0,Crashed into trees while attempting to land af...
7,"September 03, 1915",c 15:20,"Off Cuxhaven, Germany",Military - German Navy,?,?,Zeppelin L-10 (airship),?,?,19 (passengers:? crew:?),19 (passengers:? crew:?),0,"Exploded and burned near Neuwerk Island, when..."
8,"July 28, 1916",?,"Near Jambol, Bulgeria",Military - German Army,?,?,Schutte-Lanz S-L-10 (airship),?,?,20 (passengers:? crew:?),20 (passengers:? crew:?),0,"Crashed near the Black Sea, cause unknown."
9,"September 24, 1916",c 01:00,"Billericay, England",Military - German Navy,?,?,Zeppelin L-32 (airship),?,?,22 (passengers:? crew:?),22 (passengers:? crew:?),0,Shot down by British aircraft crashing in flames.
10,"October 01, 1916",c 23:45,"Potters Bar, England",Military - German Navy,?,?,Zeppelin L-31 (airship),?,?,19 (passengers:0 crew:19),19 (passengers:0 crew:19),0,Shot down in flames by the British 39th Home D...
11,"November 21, 1916",?,"Mainz, Germany",Military - German Army,?,?,Super Zeppelin (airship),?,?,28 (passengers:? crew:?),27 (passengers:? crew:?),0,Crashed in a storm.
12,"November 28, 1916",c 23:45,"Off West Hartlepool, England",Military - German Navy,?,?,Zeppelin L-34 (airship),?,?,20 (passengers:? crew:?),20 (passengers:? crew:?),0,Shot down by British anti-aircraft fire and ai...
13,"March 04, 1917",?,"Near Gent, Belgium",Military - German Army,?,?,Airship,?,?,20 (passengers:? crew:?),20 (passengers:? crew:?),0,Caught fire and crashed.
14,"March 30, 1917",?,Off Northern Germany,Military - German Navy,?,?,Schutte-Lanz S-L-9 (airship),?,?,23 (passengers:? crew:?),23 (passengers:? crew:?),0,Struck by lightning and crashed into the Balti...
15,"May 14, 1917",c 05:15,"Near Texel Island, North Sea",Military - German Navy,?,?,Zeppelin L-22 (airship),?,?,21 (passengers:? crew:?),21 (passengers:? crew:?),0,"Crashed into the sea from an altitude of 3,000..."
16,"June 14, 1917",c 08:45,"Off Vlieland Island, North Sea",Military - German Navy,?,?,Zeppelin L-43 (airship),?,?,24 (passengers:? crew:?),24 (passengers:? crew:?),0,Shot down by British aircraft.
17,"June 17, 1917",?,"Near Yarmouth, England",?,?,?,Zepplin LZ-95 (air ship),L-48,?,16 (passengers:? crew:?),14 (passengers:? crew:?),0,Shot down by aircraft.
18,"August 21, 1917",c 07:00,Off western Denmark,Military - German Navy,?,?,Zeppelin L-23 (airship),?,?,18 (passengers:? crew:?),18 (passengers:? crew:?),0,Shot down by British aircraft.
19,"October 20, 1917",c 07:45,"Near Luneville, France",Military - German Navy,?,?,Zeppelin L-44 (airship),?,?,18 (passengers:? crew:?),18 (passengers:? crew:?),0,Shot down by French anti-aircraft fire.
20,"April 07, 1918",c 21:30,Over the Mediterranean,Military - German Navy,?,?,Zeppelin L-59 (airship),?,?,23 (passengers:? crew:?),23 (passengers:? crew:?),0,Exploded and crashed into the sea off the sout...
21,"May 10, 1918",?,"Off Helgoland Island, Germany",Military - German Navy,?,?,Zeppelin L-70 (airship),?,?,22 (passengers:? crew:?),22 (passengers:? crew:?),0,Shot down by British aircraft crashing from a ...
22,"August 11, 1918",c 10:00,"Ameland Island, North Sea",Military - German Navy,?,?,Zeppelin L-53 (airship),?,?,19 (passengers:? crew:?),19 (passengers:? crew:?),0,Shot down by british aircraft.
23,"December 16, 1918",?,"Elizabeth, New Jersey",US Aerial Mail Service,?,?,De Havilland DH-4,97,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,Carl Smith was killed when his mail plane feet...
24,"May 25, 1919",?,"Cleveland, Ohio",US Aerial Mail Service,?,?,De Havilland DH-4,61,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,Caught fire in midair. The pilot leaped from t...
25,"July 19, 1919",?,"Dix Run, Pennsylvania",US Aerial Mail Service,?,?,De Havilland DH-4,82,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,?
26,"August 02, 1919",?,"Verona, Italy",Caproni Company,?,Venice Taliedo,Caproni Ca.48,?,?,14 (passengers:12 crew:2),14 (passengers:12 crew:2),0,As the plane was passing over Verona the wings...
27,"October 02, 1919",?,"Newcastle, England",Aircraft Transport and Travel,?,?,De Havilland DH-4,?,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,?
28,"October 14, 1919",?,"Cantonsville, Maryland",US Aerial Mail Service,?,?,Curtiss R-4LM,32,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The pilot was performing a mail flight to Balt...
29,"October 20, 1919",?,"English Channel off Forkstone, Kent",Aircraft Transport and Travel,?,?,De Havilland DH-4,G-EAHG,?,0 (passengers:? crew:?),0 (passengers:? crew:?),0,?
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5212,"May 05, 2017",0653,"Charleston, West Virginia",Air Cargo Carriers,?,Louisville - Charleston,Shorts 300-200,N334AC,SH-3029,2 (passengers:0 crew:2),2 (passengers:0 crew:2),0,The cargo plane was destroyed when it crashed ...
5213,"May 15, 2017",1530,"Carlstadt,, New Jersey",A&C Big Sky Aviation,?,"Philadelphia, PA - Teteboro, NJ",Learjet 35A-452,N452DA,35A-452,2 (passengers:0 crew:2),2 (passengers:0 crew:2),0,"While on approach to Teleboro Airport, the air..."
5214,"May 27, 2017",1402,"Tenzing, Nepal",Summit Air,409,?,Let L-410UVP-E20,9N-AKY,2917,3 (passengers:0 crew:3),2 (passengers:0 crew:2),0,The cargo plane crashed short of the runway th...
5215,"June 07, 2017",1335,"Off Dawei, Myanmar",Myanmar Air Force,?,Myeik - Yangon,Shaanxi Y-8F-200W,5820,?,122 (passengers:108 crew:14),122 (passengers:108 crew:14),0,The transport plane carrying military personne...
5216,"June 28, 2017",1015,"Mount Gambier, South Australia",Angel Flight,?,Suttontown - Adelaide,Socata TB1-10 Tobago,VH-YTM,1518,3 (passengers:2 crew:1),3 (passengers:2 crew:1),0,The medical flight crashed 3 km south of Mount...
5217,"July 10, 2017",1600,"Near Itta Bena, Mississipi",USMC,?,"Cherry Point, NC - El Centro, CA",Lockheed KC-130T Hercules,165000,382-5303,16 (passengers:14 crew:2),16 (passengers:14 crew:2),0,"While en route, the Marine Corps transport suf..."
5218,"October 14, 2017",0830,"Abidjan, Ivory Coast",Valan International Cargo Charter,?,Burkina Faso - Abidjan,Antonov AN-26-100,ER-AVB,3204,10 (passengers:4 crew:6),4 (passengers:4 crew:0),0,"The cargo plane, carrying French military carg..."
5219,"November 15, 2017",0800,"Empakaai, Tanzania",Costal Aviation,?,Arusha - Serengeti,Cessna 208B Grand Caravan,5H-EGG,208B-0476,11 (passengers:10 crew:1),11 (passengers:10 crew:1),0,The chartered Cessna was flying tourists from ...
5220,"December 13, 2017",1815,"Near Fond-du-Lac, Saskatchewan",West Wind Aviation,?,Fond-du-Lac - Stony Rapids,ATR42-320,C-GWEA,240,25 (passengers:22 crew:3),1 (passengers:1 crew:0),0,"Shortly after taking off, the aircraft lost al..."
5221,"December 31, 2017",1216,"Punta Islita, Costa Rica",Naure Air,?,Punta Islita - San Jose,Cessna 208B Grand Caravan,TI-BEI,208B-0900,12 (passengers:10 crew:2),12 (passengers:10 crew:2),0,The passenger plane crashed 10 minutes after t...
5222,"January 29, 2018",?,"\tZhengchang, Suiyang County, Guizhou Province",People's Liberation Army Air Force,?,?,Shaanxi Y-8GX-3,30513,?,12 (passengers:7 crew:5),12 (passengers:7 crew:5),0,Unknown
5223,"February 10, 2018",1731,"Grand Canyon, Arizona",Papillon,?,Sightseeing,Eurocopter EC 130B4,N155GC,7091,7 (passengers:6 crew:1),3 (passengers:3 crew:0),0,The helicopter was observed making strange man...
5224,"February 11, 2018",1431,"Argunovo, Russia",Saratov Airlines,703,Moscow - Orsk,Antonov AN-148-100,RA-61704,27015040004,71 (passengers:65 crew:6),71 (passengers:65 crew:6),0,The regional airliner took off from Moscow at ...
5225,"February 18, 2018",0926,"Kohangan village, Iran",Iran Aseman Airlines,3704,Tehran - Yasuj,Iran Aseman Airlines,EP-ATS,?,66 (passengers:60 crew:6),66 (passengers:60 crew:6),0,The airliner was on approach to Yasuj Airport ...
5226,"March 06, 2018",1451,"Latakia, Syria",Military - Russian Air Force,?,Kuweires Air Base - Latakia-Khmeimim Air Base,Antonov An-26,RF-92955/52,10107,39 (passengers:33 crew:6),39 (passengers:33 crew:6),0,While on approach to Latakia-Khmeimim Air Base...
5227,"March 11, 2018",1908,"New York, New York",Liberty Helicopters,?,Sightseeing,Eurocopter AS 350B2,N350LH,7654,6 (passengers:5 crew:1),5 (passengers:5 crew:0),0,The sightseeing helicopter suddenly lost power...
5228,"March 12, 2018",14:15,"Kathmandu, Nepal",US-Bangla Airlines,221,Dhaka - Kathmandu,de Havilland Canada DHC-8-402Q Dash 8,S2-AGU,4041,71 (passengers:67 crew:4),51 (passengers:47 crew:4),0,"After getting clearance to land, the aircraft ..."
5229,"March 17, 2018",1120,"Plaridel, Philippines",Lite Air Express,?,Plaridel - Laoag,Piper PA-32RT-300T,RP-C299,32R-7985036,5 (passengers:3 crew:2),5 (passengers:3 crew:2),5,The small passenger plane crashed shortly afte...
5230,"April 11, 2018",0800,"Boufarik AB, Algeria",Military - Algerian Air Force,?,Boufarik AB - Bechar - Tindouf,Ilyushin 76-TD,7T-WIP,1043419636,257 (passengers:247 crew:10),257 (passengers:247 crew:10),0,The Algerian military plane crashed soon after...
5231,"April 17, 2018",1004,"NW of Philadelphia, Pennsylvania",Southwest Airlines,1380,New York - Dallas,Boeing 737-7H4,N722SW,27880/601,149 (passengers:144 crew:5),1 (passengers:1 crew:0),0,"While climbing to FL320, the No. 1 engine suff..."
5232,"May 02, 2018",1130,"Port Wentworth, Georgia",Military - US Air Force,?,Savannah - Tuscon,Lockheed HC-130H Hercules,65-0968,382-4110,9 (passengers:0 crew:9),9 (passengers:0 crew:9),0,A Porto Rico Air National Guard plane crashed ...
5233,"May 18, 2018",1208,"Havana, Cuba",Cubana (leased from Global Air),972,Havana- Holguin,Boeing 737-201,XA-UHZ,21816/592,113 (passengers:107 crew:6),112 (passengers:106 crew:6),0,After taking off from runway 06 at Havana-José...
5234,"June 05, 2018",1700,"Near Njabini, Kenya",Fly SAX,50102,Kitale - Nairobi,Cessna 208B Grand Caravan,5Y-CAC,208B0525,10 (passengers:8 crew:2),10 (passengers:8 crew:2),0,Ground lost contact with the aircraft when it ...
5235,"July 10, 2018",0744,"Pretoria, South Africa",Rovos Air,?,Test Flight,Convair CV-340,ZS-BRV,215,19 (passengers:16 crew:3),1 (passengers:0 crew:1),1,"Shortly after takeoff from runway 29, the left..."
5236,"August 04, 2018",1655,"Flims, Switzerland",Ju Air,?,Locorno - Dubendorf,Junkers JU-52,HB-HOT,6595,20 (passengers:17 crew:3),20 (passengers:17 crew:3),1,The vintage aircraft crashed onto Piz Segnas m...
5237,"September 28, 2018",1010,"Chuuk, Micronesia",Air Niugini,?,Pohnpei - Chuuk,Boeing 737-8BK,P2-PXE,33024/1688,47 (passengers:35 crew:12),1 (passengers:1 crew:0),0,The aircraft was approaching for a landing at ...
5238,"October 29, 2018",0631,"Off Jakarta, Indonesia",Lion Air,610,Jakarta - Pangkal Pinang,Boeing 737-MAX 8,PK-LQP,43000/7058,189 (passengers:181 crew:8),189 (passengers:181 crew:8),0,"The airliner crashed into the Jakarta Sea, 13 ..."
5239,"November 06, 2018",0253,"Georgetown, Guyana",Fly Jamaica Airways,?,Georgetown - Toronto,Boeing 757-N23,N524AT,30233/895,128 (passengers:120 crew:8),1 (passengers:1 crew:0),0,"After taking off and reaching FL200, the crew ..."
5240,"November 18, 2018",2300,"Near Mandan, North Dakota",Metro Area Ambulance Services,?,Bismark - Sloulin Field,Cessna 441 Conquest II,N441CX,441-0305,3 (passengers:2 crew:1),3 (passengers:2 crew:1),0,The air ambulance en route to pick up a patien...
5241,"January 14, 2019",0830,"Karaj, Iran",Saha Air,?,Bishkek - Payam,Boeing 707-3J9C,EP-CPP,21128/917,16 (passengers:13 crew:3),15 (passengers:13 crew:2),0,The cargo plane was operated by the Iranian Ai...

In [31]:
new = v["date"].str.split(" ", n =1, expand = True)
#print (new[0])
new1 = new[1].str.split(",", n = 1, expand = True)
#display (new[0], new1)
serie1 = new[0]
serie1

for i in serie1.index:
    new1[i] = serie1[i]
display(new1)
#df = pd.DataFrame({'a':[1, 2], 'b':[3, 4]})  # see EDIT below
#s = pd.Series({'s1':5, 's2':6})

#for name in s.index:
 #   df[name] = s[name]

,0,1,2,3,4,5,6,7,8,9,...,5232,5233,5234,5235,5236,5237,5238,5239,5240,5241
0,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
1,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
2,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
3,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
4,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
6,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
7,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
8,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
9,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
10,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
11,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
12,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
13,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
14,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
15,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
16,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
17,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
18,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
19,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
20,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
21,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
22,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
23,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
24,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
25,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
26,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
27,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
28,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
29,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5212,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5213,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5214,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5215,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5216,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5217,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5218,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5219,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5220,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5221,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5222,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5223,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5224,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5225,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5226,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5227,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5228,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5229,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5230,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5231,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5232,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5233,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5234,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5235,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5236,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5237,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5238,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5239,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5240,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January
5241,September,September,July,August,September,October,March,September,July,September,...,May,May,June,July,August,September,October,November,November,January

In [ ]:
pd.concat([new, new1], keys=['s1', 's2'],names=['Series name', 'Row ID'])

In [8]:
#new1=pd.DataFrame(new1, columns = ["Crashes months","Crashes days"])
new1["Crashes days"]=new1[0]
#display(new1)
new1["Crashes years"]=new1[1]
#new1 = new1.drop(columns[1], inplace = True) 
new1 = new1.filter(["Crashes days","Crashes years"], axis=1)
display(new1)

     Crashes days Crashes years
0              17          1908
1              07          1909
2              12          1912
3              06          1913
4              09          1913
5              17          1913
6              05          1915
7              03          1915
8              28          1916
9              24          1916
10             01          1916
11             21          1916
12             28          1916
13             04          1917
14             30          1917
15             14          1917
16             14          1917
17             17          1917
18             21          1917
19             20          1917
20             07          1918
21             10          1918
22             11          1918
23             16          1918
24             25          1919
25             19          1919
26             02          1919
27             02          1919
28             14          1919
29             20          1919
...           ...           ...
5212           05          2017
5213           15          2017
5214           27          2017
5215           07          2017
5216           28          2017
5217           10          2017
5218           14          2017
5219           15          2017
5220           13          2017
5221           31          2017
5222           29          2018
5223           10          2018
5224           11          2018
5225           18          2018
5226           06          2018
5227           11          2018
5228           12          2018
5229           17          2018
5230           11          2018
5231           17          2018
5232           02          2018
5233           18          2018
5234           05          2018
5235           10          2018
5236           04          2018
5237           28          2018
5238           29          2018
5239           06          2018
5240           18          2018
5241           14          2019

[5242 rows x 2 columns]

In [ ]:
#Day=[]
#for elem in lista: 
 #   Month.append(elem.get('date', 0).get('iso', 0)[5:7])  #.split(",")
#print(Month)

In [ ]:
#Month=[]
#for elem in lista: 
 #   Month.append(elem.get('date', 0).get('iso', 0)[5:7])  #.split(",")
#print(Month)

In [25]:
#lista = res.json()['response']['holidays']
crash_month=[]
for elem in v['date']: 
    #crash_month.append(elem.get([:4]))  #.split(",")
print(crash_month)

SyntaxError: invalid syntax (<ipython-input-25-8ce9218d1cb1>, line 4)

In [ ]:
# Create features for year, month, day, hour, and minute 
#v['year'] = v['date'].dt.year[:5]
#v['day'] = v['date'].dt.day[:5]
  
# Print the dates divided into features 
#v.head(3)

In [2]:
import calendarific
import requests
import pandas as pd
import numpy as np

In [3]:
BASE_URL = "https://calendarific.com/api/v2"
API_KEY = ''
with open("token_crash.py") as file: # Use file to refer to the file object
   API_KEY = file.read().strip()
country= 'ES'
year= '2018'
res = requests.get("{}/holidays?&api_key={}&country={}&year={}".format(BASE_URL,API_KEY,country,year))
res.json()

{'meta': {'code': 200},
 'response': {'holidays': [{'name': "New Year's Day",
    'description': 'New Year’s Day is the first day of the year, or January 1, in the Gregorian calendar.',
    'date': {'iso': '2018-01-01',
     'datetime': {'year': 2018, 'month': 1, 'day': 1}},
    'type': ['National holiday'],
    'locations': 'All',
    'states': 'All'},
   {'name': 'Reconquest Day',
    'description': None,
    'date': {'iso': '2018-01-02',
     'datetime': {'year': 2018, 'month': 1, 'day': 2}},
    'type': ['Local holiday'],
    'locations': 'GR',
    'states': [{'id': 324,
      'abbrev': 'GR',
      'name': 'Granada',
      'exception': None,
      'iso': 'es-gr'}]},
   {'name': 'Epiphany',
    'description': 'Epiphany is a public holiday and the day most Christmas presentes are exchanged in Spain.',
    'date': {'iso': '2018-01-06',
     'datetime': {'year': 2018, 'month': 1, 'day': 6}},
    'type': ['National holiday'],
    'locations': 'All',
    'states': 'All'},
   {'name': "St. Valero's Feast",
    'description': None,
    'date': {'iso': '2018-01-29',
     'datetime': {'year': 2018, 'month': 1, 'day': 29}},
    'type': ['Local holiday'],
    'locations': 'Z',
    'states': [{'id': 355,
      'abbrev': 'Z',
      'name': 'Zaragoza',
      'exception': None,
      'iso': 'es-z'}]},
   {'name': "Valentine's Day",
    'description': 'Valentine’s Day is a special time to celebrate love, romance and friendship.',
    'date': {'iso': '2018-02-14',
     'datetime': {'year': 2018, 'month': 2, 'day': 14}},
    'type': ['Observance'],
    'locations': 'All',
    'states': 'All'},
   {'name': 'Ash Wednesday',
    'description': 'Ash Wednesday marks the first day of Lent in western Christian churches.',
    'date': {'iso': '2018-02-14',
     'datetime': {'year': 2018, 'month': 2, 'day': 14}},
    'type': ['Observance'],
    'locations': 'All',
    'states': 'All'},
   {'name': 'Day of Andalucía',
    'description': 'The Day of Andalucía, also known as Andalucía Day, is an annual public holiday in the Andalucía autonomous community in Spain on February 28.',
    'date': {'iso': '2018-02-28',
     'datetime': {'year': 2018, 'month': 2, 'day': 28}},
    'type': ['Local holiday'],
    'locations': 'AN',
    'states': [{'id': 212,
      'abbrev': 'AN',
      'name': 'Andalusia',
      'exception': None,
      'iso': 'es-an'}]},
   {'name': 'Day of the Balearic Islands',
    'description': "The Day of the Balearic Islands is held on March 1 to remember the date when the Balearic Islands' Statute of Autonomy came into effect. It is a local public holiday in this area in Spain.",
    'date': {'iso': '2018-03-01',
     'datetime': {'year': 2018, 'month': 3, 'day': 1}},
    'type': ['Local holiday'],
    'locations': 'IB',
    'states': [{'id': 289,
      'abbrev': 'IB',
      'name': 'Balearic Islands',
      'exception': None,
      'iso': 'es-ib'}]},
   {'name': 'Fifth of March',
    'description': None,
    'date': {'iso': '2018-03-05',
     'datetime': {'year': 2018, 'month': 3, 'day': 5}},
    'type': ['Local holiday'],
    'locations': 'Z',
    'states': [{'id': 355,
      'abbrev': 'Z',
      'name': 'Zaragoza',
      'exception': None,
      'iso': 'es-z'}]},
   {'name': 'San Jose',
    'description': "Saint Joseph's Day honors St Joseph, the Virgin Mary's spouse. It is a public holiday in some parts of Spain on March 19 each year.",
    'date': {'iso': '2018-03-19',
     'datetime': {'year': 2018, 'month': 3, 'day': 19}},
    'type': ['Common local holiday'],
    'locations': 'VC, GA, MU, NA, PV',
    'states': [{'id': 302,
      'abbrev': 'VC',
      'name': 'Valencia',
      'exception': None,
      'iso': 'es-vc'},
     {'id': 297,
      'abbrev': 'GA',
      'name': 'Galicia',
      'exception': None,
      'iso': 'es-ga'},
     {'id': 300,
      'abbrev': 'MU',
      'name': 'Murcia',
      'exception': None,
      'iso': 'es-mc'},
     {'id': 301,
      'abbrev': 'NA',
      'name': 'Navarre',
      'exception': None,
      'iso': 'es-nc'},
     {'id': 290,
      'abbrev': 'PV',
      'name': 'Basque Country',
      'exception': None,
      'iso': 'es-pv'}]},
   {'name': 'March Equinox',
    'description': None,
    'date': {'iso': '2018-03-20T17:15:20+01:00',
     'datetime': {'year': 2018,
      'month': 3,
      'day': 20,
      'hour': 17,
      'minute': 15,
      'second': 20},
     'timezone': {'offset': '+01:00',
      'zoneabb': 'CET',
      'zoneoffset': 3600,
      'zonedst': 0,
      'zonetotaloffset': 3600}},
    'type': ['Season'],
    'locations': 'All',
    'states': 'All'},
   {'name': 'Daylight Saving Time starts',
    'description': None,
    'date': {'iso': '2018-03-25T02:00:00+01:00',
     'datetime': {'year': 2018,
      'month': 3,
      'day': 25,
      'hour': 2,
      'minute': 0,
      'second': 0},
     'timezone': {'offset': '+01:00',
      'zoneabb': 'CET',
      'zoneoffset': 3600,
      'zonedst': 0,
      'zonetotaloffset': 3600}},
    'type': ['Clock change/Daylight Saving Time'],
    'locations': 'All',
    'states': 'All'},
   {'name': 'Palm Sunday',
    'description': 'Palm Sunday is a Christian feast that commemorates Jesus Christ’s entry into Jerusalem. It is also the start of Holy Week.',
    'date': {'iso': '2018-03-25',
     'datetime': {'year': 2018, 'month': 3, 'day': 25}},
    'type': ['Observance'],
    'locations': 'All',
    'states': 'All'},
   {'name': 'Maundy Thursday',
    'description': 'Maundy Thursday is a Christian observance on the Thursday during Holy Week. It is the day before Good Friday.',
    'date': {'iso': '2018-03-29',
     'datetime': {'year': 2018, 'month': 3, 'day': 29}},
    'type': ['Common local holiday'],
    'locations': '16 states',
    'states': [{'id': 212,
      'abbrev': 'AN',
      'name': 'Andalusia',
      'exception': None,
      'iso': 'es-an'},
     {'id': 213,
      'abbrev': 'AR',
      'name': 'Aragon',
      'exception': None,
      'iso': 'es-ar'},
     {'id': 288,
      'abbrev': 'O',
      'name': 'Asturias',
      'exception': None,
      'iso': 'es-as'},
     {'id': 289,
      'abbrev': 'IB',
      'name': 'Balearic Islands',
      'exception': None,
      'iso': 'es-ib'},
     {'id': 290,
      'abbrev': 'PV',
      'name': 'Basque Country',
      'exception': None,
      'iso': 'es-pv'},
     {'id': 291,
      'abbrev': 'CN',
      'name': 'Canary Islands',
      'exception': None,
      'iso': 'es-cn'},
     {'id': 293,
      'abbrev': 'CM',
      'name': 'Castile-La Mancha',
      'exception': None,
      'iso': 'es-cm'},
     {'id': 294,
      'abbrev': 'CL',
      'name': 'Castile-Leon',
      'exception': None,
      'iso': 'es-cl'},
     {'id': 303,
      'abbrev': 'CE',
      'name': 'Ceuta',
      'exception': None,
      'iso': 'es-ce'},
     {'id': 296,
      'abbrev': 'EX',
      'name': 'Extremadura',
      'exception': None,
      'iso': 'es-ex'},
     {'id': 297,
      'abbrev': 'GA',
      'name': 'Galicia',
      'exception': None,
      'iso': 'es-ga'},
     {'id': 299,
      'abbrev': 'M',
      'name': 'Madrid',
      'exception': None,
      'iso': 'es-md'},
     {'id': 304,
      'abbrev': 'ML',
      'name': 'Melilla',
      'exception': None,
      'iso': 'es-ml'},
     {'id': 300,
      'abbrev': 'MU',
      'name': 'Murcia',
      'exception': None,
      'iso': 'es-mc'},
     {'id': 301,
      'abbrev': 'NA',
      'name': 'Navarre',
      'exception': None,
      'iso': 'es-nc'},
     {'id': 298,
      'abbrev': 'LO',
      'name': 'La Rioja',
      'exception': None,
      'iso': 'es-ri'}]},
   {'name': 'Good Friday',
    'description': 'Good Friday is a global Christian observance two days before Easter Sunday.',
    'date': {'iso': '2018-03-30',
     'datetime': {'year': 2018, 'month': 3, 'day': 30}},
    'type': ['National holiday'],
    'locations': 'All',
    'states': 'All'},
   {'name': 'Easter Sunday',
    'description': 'Easter Sunday commemorates Jesus Christ’s resurrection, according to Christian belief.',
    'date': {'iso': '2018-04-01',
     'datetime': {'year': 2018, 'month': 4, 'day': 1}},
    'type': ['Observance'],
    'locations': 'All',
    'states': 'All'},
   {'name': 'Easter Monday',
    'description': 'Easter Monday is the day after Easter Sunday.',
    'date': {'iso': '2018-04-02',
     'datetime': {'year': 2018, 'month': 4, 'day': 2}},
    'type': ['Common local holiday'],
    'locations': 'IB, CT, VC, NA, PV',
    'states': [{'id': 289,
      'abbrev': 'IB',
      'name': 'Balearic Islands',
      'exception': None,
      'iso': 'es-ib'},
     {'id': 295,
      'abbrev': 'CT',
      'name': 'Catalonia',
      'exception': None,
      'iso': 'es-ct'},
     {'id': 302,
      'abbrev': 'VC',
      'name': 'Valencia',
      'exception': None,
      'iso': 'es-vc'},
     {'id': 301,
      'abbrev': 'NA',
      'name': 'Navarre',
      'exception': None,
      'iso': 'es-nc'},
     {'id': 290,
      'abbrev': 'PV',
      'name': 'Basque Country',
      'exception': None,
      'iso': 'es-pv'}]},
   {'name': 'Day of Aragón',
    'description': "The Day of Aragon celebrates the Spanish region of Aragon's culture and history. It is an annual local public holiday on April 23.",
    'date': {'iso': '2018-04-23',
     'datetime': {'year': 2018, 'month': 4, 'day': 23}},
    'type': ['Local holiday'],
    'locations': 'AR',
    'states': [{'id': 213,
      'abbrev': 'AR',
      'name': 'Aragon',
      'exception': None,
      'iso': 'es-ar'}]},
   {'name': "St George's Day",
    'description': "St George's Day is an occasion for people in Catalonia to give loved ones a rose and a book.",
    'date': {'iso': '2018-04-23',
     'datetime': {'year': 2018, 'month': 4, 'day': 23}},
    'type': ['Local observance'],
    'locations': 'CT',
    'states': [{'id': 295,
      'abbrev': 'CT',
      'name': 'Catalonia',
      'exception': None,
      'iso': 'es-ct'}]},
   {'name': 'Castile and León Day',
    'description': 'Castile and León Day is celebrated in the Spanish autonomous community of Castile and León on April 23 every year.',
    'date': {'iso': '2018-04-23',
     'datetime': {'year': 2018, 'month': 4, 'day': 23}},
    'type': ['Local holiday'],
    'locations': 'CL',
    'states': [{'id': 294,
      'abbrev': 'CL',
      'name': 'Castile-Leon',
      'exception': None,
      'iso': 'es-cl'}]},
   {'name': 'Labor Day / May Day',
    'description': 'May Day, or Labor Day, is a day off for workers in many countries around the world.',
    'date': {'iso': '2018-05-01',
     'datetime': {'year': 2018, 'month': 5, 'day': 1}},
    'type': ['National holiday'],
    'locations': 'All',
    'states': 'All'},
   {'name': 'Day of Madrid',
    'description': 'The Day of the Autonomous Community of Madrid, Spain, marks the anniversary of an uprising against French troops in Madrid. It is an annual local public holiday on May 2.',
    'date': {'iso': '2018-05-02',
     'datetime': {'year': 2018, 'month': 5, 'day': 2}},
    'type': ['Local holiday'],
    'locations': 'M',
    'states': [{'id': 299,
      'abbrev': 'M',
      'name': 'Madrid',
      'exception': None,
      'iso': 'es-md'}]},
   {'name': "Mothers' Day",
    'description': 'One of Spain’s most popular and festive family occasions is Mothers’ Day on the first Sunday in May.',
    'date': {'iso': '2018-05-06',
     'datetime': {'year': 2018, 'month': 5, 'day': 6}},
    'type': ['Observance'],
    'locations': 'All',
    'states': 'All'},
   {'name': 'Feast Day of St Isidore',
    'description': None,
    'date': {'iso': '2018-05-15',
     'datetime': {'year': 2018, 'month': 5, 'day': 15}},
    'type': ['Local holiday'],
    'locations': 'M',
    'states': [{'id': 299,
      'abbrev': 'M',
      'name': 'Madrid',
      'exception': None,
      'iso': 'es-md'}]},
   {'name': 'Galicia Literature Day',
    'description': 'Galician Literature Day is a local public holiday annually celebrated in autonomous community of Galicia in Spain on May 17. It commemorates writers who wrote in the Galician language.',
    'date': {'iso': '2018-05-17',
     'datetime': {'year': 2018, 'month': 5, 'day': 17}},
    'type': ['Local holiday'],
    'locations': 'GA',
    'states': [{'id': 297,
      'abbrev': 'GA',
      'name': 'Galicia',
      'exception': None,
      'iso': 'es-ga'}]},
   {'name': 'Whit Sunday/Pentecost',
    'description': 'Many Christians all over the world annually observe Pentecost, also known as Whitsunday or Whit Sunday.',
    'date': {'iso': '2018-05-20',
     'datetime': {'year': 2018, 'month': 5, 'day': 20}},
    'type': ['Observance'],
    'locations': 'All',
    'states': 'All'},
   {'name': 'Whit Monday',
    'description': 'Whit Monday, or Pentecost Monday, is a Christian holiday that falls on the day after Pentecost, which is also known as Whit Sunday or Whitsunday.',
    'date': {'iso': '2018-05-21',
     'datetime': {'year': 2018, 'month': 5, 'day': 21}},
    'type': ['Local holiday'],
    'locations': 'B',
    'states': [{'id': 314,
      'abbrev': 'B',
      'name': 'Barcelona',
      'exception': None,
      'iso': 'es-b'}]},
   {'name': 'Day of the Canary Islands',
    'description': "The Day of the Canary Islands marks the anniversary of the autonomous Canary Islands Parliament's first session. It is a local public holiday on the Canary Islands on May 30 each year.",
    'date': {'iso': '2018-05-30',
     'datetime': {'year': 2018, 'month': 5, 'day': 30}},
    'type': ['Local holiday'],
    'locations': 'CN',
    'states': [{'id': 291,
      'abbrev': 'CN',
      'name': 'Canary Islands',
      'exception': None,
      'iso': 'es-cn'}]},
   {'name': 'Corpus Christi',
    'description': 'Corpus Christi is a Christian feast in honor of the Holy Eucharist.',
    'date': {'iso': '2018-05-31',
     'datetime': {'year': 2018, 'month': 5, 'day': 31}},
    'type': ['Observance'],
    'locations': 'All',
    'states': 'All'},
   {'name': 'Day of Castile-La Mancha',
    'description': "The Day of the Region of Castilla-La Mancha marks the anniversary of when Castilla-La Mancha's first regional courts were opened. It is an annual public holiday in this Spanish region on May 31.",
    'date': {'iso': '2018-05-31',
     'datetime': {'year': 2018, 'month': 5, 'day': 31}},
    'type': ['Local holiday'],
    'locations': 'CM',
    'states': [{'id': 293,
      'abbrev': 'CM',
      'name': 'Castile-La Mancha',
      'exception': None,
      'iso': 'es-cm'}]},
   {'name': 'Day of Murcia',
    'description': "The Day of the Region of Murcia marks the anniversary of when the autonomy of Murcia's statutes was approved. It is an annual public holiday in Murcia, Spain, on June 9.",
    'date': {'iso': '2018-06-09',
     'datetime': {'year': 2018, 'month': 6, 'day': 9}},
    'type': ['Local holiday'],
    'locations': 'MU',
    'states': [{'id': 300,
      'abbrev': 'MU',
      'name': 'Murcia',
      'exception': None,
      'iso': 'es-mc'}]},
   {'name': 'Day of La Rioja',
    'description': 'The Day of La Rioja is an annual public holiday in the Spanish autonomous community of La Rioja on June 9.',
    'date': {'iso': '2018-06-09',
     'datetime': {'year': 2018, 'month': 6, 'day': 9}},
    'type': ['Local holiday'],
    'locations': 'LO',
    'states': [{'id': 298,
      'abbrev': 'LO',
      'name': 'La Rioja',
      'exception': None,
      'iso': 'es-ri'}]},
   {'name': 'San Antonio',
    'description': "The Day of Saint Anthony of Padua marks the anniversary of St Anthony's death. It is a local public holiday in Ceuta, Spain, on June 13 each year.",
    'date': {'iso': '2018-06-13',
     'datetime': {'year': 2018, 'month': 6, 'day': 13}},
    'type': ['Local holiday'],
    'locations': 'CE',
    'states': [{'id': 303,
      'abbrev': 'CE',
      'name': 'Ceuta',
      'exception': None,
      'iso': 'es-ce'}]},
   {'name': 'June Solstice',
    'description': None,
    'date': {'iso': '2018-06-21T12:07:17+02:00',
     'datetime': {'year': 2018,
      'month': 6,
      'day': 21,
      'hour': 12,
      'minute': 7,
      'second': 17},
     'timezone': {'offset': '+02:00',
      'zoneabb': 'CEST',
      'zoneoffset': 3600,
      'zonedst': 3600,
      'zonetotaloffset': 7200}},
    'type': ['Season'],
    'locations': 'All',
    'states': 'All'},
   {'name': 'Saint John the Baptist Day',
    'description': 'Saint John the Baptist Day is annually held on June 24 to honor the life of St John, an early Christian saint. It is a public holiday in Catalonia, Spain.',
    'date': {'iso': '2018-06-24',
     'datetime': {'year': 2018, 'month': 6, 'day': 24}},
    'type': ['Local holiday'],
    'locations': 'CT',
    'states': [{'id': 295,
      'abbrev': 'CT',
      'name': 'Catalonia',
      'exception': None,
      'iso': 'es-ct'}]},
   {'name': 'Feast of Saint James the Apostle',
    'description': "Saint James' Day is an occasion to honor the life and deeds of one of Jesus' disciples. It is a public holiday in the autonomous communities of the Basque Country and Galicia in Spain on July 25.",
    'date': {'iso': '2018-07-25',
     'datetime': {'year': 2018, 'month': 7, 'day': 25}},
    'type': ['Common local holiday'],
    'locations': 'GA',
    'states': [{'id': 297,
      'abbrev': 'GA',
      'name': 'Galicia',
      'exception': None,
      'iso': 'es-ga'}]},
   {'name': 'Day of the Institutions',
    'description': 'The Day of the Institutions of Cantabria marks the anniversary of the creation of the Cantabria province.',
    'date': {'iso': '2018-07-28',
     'datetime': {'year': 2018, 'month': 7, 'day': 28}},
    'type': ['Local holiday'],
    'locations': 'S',
    'states': [{'id': 292,
      'abbrev': 'S',
      'name': 'Cantabria',
      'exception': None,
      'iso': 'es-cb'}]},
   {'name': 'The Day of Our Lady of Africa',
    'description': 'The Day of Our Lady of Africa honors the patron saint of the city of Ceuta. It is a public holiday in this Spanish city on August 5.',
    'date': {'iso': '2018-08-05',
     'datetime': {'year': 2018, 'month': 8, 'day': 5}},
    'type': ['Local holiday'],
    'locations': 'CE',
    'states': [{'id': 303,
      'abbrev': 'CE',
      'name': 'Ceuta',
      'exception': None,
      'iso': 'es-ce'}]},
   {'name': 'The Day of Our Lady of Africa observed',
    'description': 'The Day of Our Lady of Africa honors the patron saint of the city of Ceuta. It is a public holiday in this Spanish city on August 5.',
    'date': {'iso': '2018-08-06',
     'datetime': {'year': 2018, 'month': 8, 'day': 6}},
    'type': ['Local holiday'],
    'locations': 'CE',
    'states': [{'id': 303,
      'abbrev': 'CE',
      'name': 'Ceuta',
      'exception': None,
      'iso': 'es-ce'}]},
   {'name': 'The Day of Cantabria',
    'description': 'The Day of Cantabria celebrates the history, culture and language of the Cantabrian region of Spain. It is annually held on the second Sunday of August.',
    'date': {'iso': '2018-08-12',
     'datetime': {'year': 2018, 'month': 8, 'day': 12}},
    'type': ['Local observance'],
    'locations': 'S',
    'states': [{'id': 292,
      'abbrev': 'S',
      'name': 'Cantabria',
      'exception': None,
      'iso': 'es-cb'}]},
   {'name': 'Assumption of Mary',
    'description': 'The Christian feast of the Assumption of Mary is on or around Aug 15 in most countries. A few celebrate Assumption Day at other times of the year.',
    'date': {'iso': '2018-08-15',
     'datetime': {'year': 2018, 'month': 8, 'day': 15}},
    'type': ['National holiday'],
    'locations': 'All',
    'states': 'All'},
   {'name': 'Eid al-Adha',
    'description': 'Eid al-Adha (Id ul-Adha) is an Islamic festival falling on the 10th day of the month of Dhul Hijja (Thou al-Hijja) to commemorate the willingness of Ibrahim (Abraham) to sacrifice his son.',
    'date': {'iso': '2018-08-22',
     'datetime': {'year': 2018, 'month': 8, 'day': 22}},
    'type': ['Local holiday'],
    'locations': 'CE',
    'states': [{'id': 303,
      'abbrev': 'CE',
      'name': 'Ceuta',
      'exception': None,

In [21]:
lista = res.json()['response']['holidays']
month=[]
for elem in lista: 
    month.append(elem.get('month', 0).get('iso', 0)[:7])  #.split(",")
print(month)

AttributeError: 'int' object has no attribute 'get'

In [22]:
lista = res.json()['response']['holidays']
Month=[]
for elem in lista: 
    Month.append(elem.get('date', 0).get('iso', 0)[5:7])  #.split(",")
print(Month)

['01', '01', '01', '01', '02', '02', '02', '03', '03', '03', '03', '03', '03', '03', '03', '04', '04', '04', '04', '04', '05', '05', '05', '05', '05', '05', '05', '05', '05', '05', '06', '06', '06', '06', '06', '07', '07', '08', '08', '08', '08', '08', '08', '09', '09', '09', '09', '09', '09', '09', '09', '10', '10', '10', '11', '11', '12', '12', '12', '12', '12', '12', '12', '12', '12']

In [ ]:
Month=pd.DataFrame(date, columns = ["Months of holidays in Spain"])
display(df)

In [ ]:
lista = res.json()['response']['holidays']
date=[]
for elem in lista: 
    date.append(elem.get('date', 0).get('iso', 0)[:10])  #.split(",")
print(date)

In [ ]:
df=pd.DataFrame(date, columns = ["Date of public holidays in Spain"])
display(df)

In [ ]:
def findMonth (m):

    months = {

        "Jan":1, "Feb":2, "Mar":3, "Apr":4, "May":5, "Jun":6, "Jul":7, "Aug":8, "Sep":9, "Oct":10, "Nov":11, "Dec":12

    }

    for month, numero in months.items(): 

        if month in m: 

            return numero

    return None



data_clean["Month"] = data_clean["Date"].apply(findMonth)

In [ ]:
# Create features for year, month, day, hour, and minute 
v['year'] = v['date'].dt.year 
#v['month'] = v['date'].dt.month 
v['day'] = v['date'].dt.day 
#v['hour'] = v['date'].dt.hour 
#v['minute'] = v['date'].dt.minute 
  
# Print the dates divided into features 
v.head(3)

In [ ]:
def findMonth (m):

    months = {

        "Jan":1, "Feb":2, "Mar":3, "Apr":4, "May":5, "Jun":6, "Jul":7, "Aug":8, "Sep":9, "Oct":10, "Nov":11, "Dec":12

    }

    for month, numero in months.items(): 

        if month in m: 

            return numero

    return None



data_clean["Month"] = data_clean["Date"].apply(findMonth)