In [349]:
import calendarific
import requests
import pandas as pd
import numpy as np

In [350]:
crash= pd.read_csv('./plane_crash_data.csv')
crash.head()

,date,time,location,operator,flight_number,route,aircraft_type,registration,cn_ln,aboard,fatalities,ground,summary
0,"September 17, 1908",17:18,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",06:30,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",c 18:30,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...

In [351]:
colnames = ['location','operator','date']
crash = pd.DataFrame(crash, columns=colnames)

In [352]:
crash.head()

,location,operator,date
0,"Fort Myer, Virginia",Military - U.S. Army,"September 17, 1908"
1,"Juvisy-sur-Orge, France",?,"September 07, 1909"
2,"Atlantic City, New Jersey",Military - U.S. Navy,"July 12, 1912"
3,"Victoria, British Columbia, Canada",Private,"August 06, 1913"
4,Over the North Sea,Military - German Navy,"September 09, 1913"

In [353]:
crash = crash.drop_duplicates(subset=['operator', 'location','date']).dropna()
crash.head()

,location,operator,date
0,"Fort Myer, Virginia",Military - U.S. Army,"September 17, 1908"
1,"Juvisy-sur-Orge, France",?,"September 07, 1909"
2,"Atlantic City, New Jersey",Military - U.S. Navy,"July 12, 1912"
3,"Victoria, British Columbia, Canada",Private,"August 06, 1913"
4,Over the North Sea,Military - German Navy,"September 09, 1913"

In [354]:
crash = crash["date"].str.split(" ", n = 1, expand = True)
crash1 = crash[1].str.split(",", n = 1, expand = True)

In [355]:
crash.head()

           0         1
0  September  17, 1908
1  September  07, 1909
2       July  12, 1912
3     August  06, 1913
4  September  09, 1913

In [356]:
crash1.head()

    0      1
0  17   1908
1  07   1909
2  12   1912
3  06   1913
4  09   1913

In [357]:
serie1=crash1
for i in serie1.index:
    for i in serie1.index:
        crash1[i]=serie1[i]
        display(crash1)

       0      1
0     17   1908
1     07   1909
2     12   1912
3     06   1913
4     09   1913
5     17   1913
6     05   1915
7     03   1915
8     28   1916
9     24   1916
10    01   1916
11    21   1916
12    28   1916
13    04   1917
14    30   1917
15    14   1917
16    14   1917
17    17   1917
18    21   1917
19    20   1917
20    07   1918
21    10   1918
22    11   1918
23    16   1918
24    25   1919
25    19   1919
26    02   1919
27    02   1919
28    14   1919
29    20   1919
...   ..    ...
5212  05   2017
5213  15   2017
5214  27   2017
5215  07   2017
5216  28   2017
5217  10   2017
5218  14   2017
5219  15   2017
5220  13   2017
5221  31   2017
5222  29   2018
5223  10   2018
5224  11   2018
5225  18   2018
5226  06   2018
5227  11   2018
5228  12   2018
5229  17   2018
5230  11   2018
5231  17   2018
5232  02   2018
5233  18   2018
5234  05   2018
5235  10   2018
5236  04   2018
5237  28   2018
5238  29   2018
5239  06   2018
5240  18   2018
5241  14   2019

[5239 rows x 2 columns]

       0      1
0     17   1908
1     07   1909
2     12   1912
3     06   1913
4     09   1913
5     17   1913
6     05   1915
7     03   1915
8     28   1916
9     24   1916
10    01   1916
11    21   1916
12    28   1916
13    04   1917
14    30   1917
15    14   1917
16    14   1917
17    17   1917
18    21   1917
19    20   1917
20    07   1918
21    10   1918
22    11   1918
23    16   1918
24    25   1919
25    19   1919
26    02   1919
27    02   1919
28    14   1919
29    20   1919
...   ..    ...
5212  05   2017
5213  15   2017
5214  27   2017
5215  07   2017
5216  28   2017
5217  10   2017
5218  14   2017
5219  15   2017
5220  13   2017
5221  31   2017
5222  29   2018
5223  10   2018
5224  11   2018
5225  18   2018
5226  06   2018
5227  11   2018
5228  12   2018
5229  17   2018
5230  11   2018
5231  17   2018
5232  02   2018
5233  18   2018
5234  05   2018
5235  10   2018
5236  04   2018
5237  28   2018
5238  29   2018
5239  06   2018
5240  18   2018
5241  14   2019

[5239 rows x 2 columns]

KeyError: 2

In [358]:
crash_month_day["Crashes days"]=crash_month_day[0]
crash_month_day

KeyError: 0

In [328]:
crash_month_day["Crashes years"]=crash_month_day[1]
crash_month_day

       0      1 Crashes days Crashes years
0     17   1908           17          1908
1     07   1909           07          1909
2     12   1912           12          1912
3     06   1913           06          1913
4     09   1913           09          1913
5     17   1913           17          1913
6     05   1915           05          1915
7     03   1915           03          1915
8     28   1916           28          1916
9     24   1916           24          1916
10    01   1916           01          1916
11    21   1916           21          1916
12    28   1916           28          1916
13    04   1917           04          1917
14    30   1917           30          1917
15    14   1917           14          1917
16    14   1917           14          1917
17    17   1917           17          1917
18    21   1917           21          1917
19    20   1917           20          1917
20    07   1918           07          1918
21    10   1918           10          1918
22    11   1918           11          1918
23    16   1918           16          1918
24    25   1919           25          1919
25    19   1919           19          1919
26    02   1919           02          1919
27    02   1919           02          1919
28    14   1919           14          1919
29    20   1919           20          1919
...   ..    ...          ...           ...
5212  05   2017           05          2017
5213  15   2017           15          2017
5214  27   2017           27          2017
5215  07   2017           07          2017
5216  28   2017           28          2017
5217  10   2017           10          2017
5218  14   2017           14          2017
5219  15   2017           15          2017
5220  13   2017           13          2017
5221  31   2017           31          2017
5222  29   2018           29          2018
5223  10   2018           10          2018
5224  11   2018           11          2018
5225  18   2018           18          2018
5226  06   2018           06          2018
5227  11   2018           11          2018
5228  12   2018           12          2018
5229  17   2018           17          2018
5230  11   2018           11          2018
5231  17   2018           17          2018
5232  02   2018           02          2018
5233  18   2018           18          2018
5234  05   2018           05          2018
5235  10   2018           10          2018
5236  04   2018           04          2018
5237  28   2018           28          2018
5238  29   2018           29          2018
5239  06   2018           06          2018
5240  18   2018           18          2018
5241  14   2019           14          2019

[5239 rows x 4 columns]

In [329]:
crash_month_day = crash_month_day.filter(["Crashes days","Crashes years"], axis=1)
crash_month_day

     Crashes days Crashes years
0              17          1908
1              07          1909
2              12          1912
3              06          1913
4              09          1913
5              17          1913
6              05          1915
7              03          1915
8              28          1916
9              24          1916
10             01          1916
11             21          1916
12             28          1916
13             04          1917
14             30          1917
15             14          1917
16             14          1917
17             17          1917
18             21          1917
19             20          1917
20             07          1918
21             10          1918
22             11          1918
23             16          1918
24             25          1919
25             19          1919
26             02          1919
27             02          1919
28             14          1919
29             20          1919
...           ...           ...
5212           05          2017
5213           15          2017
5214           27          2017
5215           07          2017
5216           28          2017
5217           10          2017
5218           14          2017
5219           15          2017
5220           13          2017
5221           31          2017
5222           29          2018
5223           10          2018
5224           11          2018
5225           18          2018
5226           06          2018
5227           11          2018
5228           12          2018
5229           17          2018
5230           11          2018
5231           17          2018
5232           02          2018
5233           18          2018
5234           05          2018
5235           10          2018
5236           04          2018
5237           28          2018
5238           29          2018
5239           06          2018
5240           18          2018
5241           14          2019

[5239 rows x 2 columns]

In [332]:
#crash_month_day = crash_month_day.drop(crash_month_day[crash_month_day['Crashes years']!='2018'.index]) NO FUNCIONA
#crash_month_day = crash_month_day.drop(crash_month_day.index!='2018')  NO FUNCIONA
#df[df['Day'] != 790] NO DA ERROR, PERO NO FILTRA
#crash_month_day = crash_month_day.drop[crash_month_day['Crashes years'] != '2018'] NO FUNCIONA
#crash_month_day = df[df.line_race != 0] NO FUNCIONA
#crash_month_day = crash_month_day[crash_month_day.Crashes years != 0] NO FUNCIONA
#crash_month_day.drop(crash_month_day.loc[crash_month_day['Crashes years']!=2018].index, inplace=True) FILTRA DEMASIADO
crash_month_day["Crashes months"]=crash_month_day[0]
crash_month_day

KeyError: 0

In [331]:
#crash = crash.drop(crash[crash['Crashes years']!='2018'].index)
crash["Crashes months"]=crash[0]
month_df=crash["Crashes months"]
month_df=pd.DataFrame(month_df, columns = ["Crashes months"])

In [1]:

def data_clean(crash):
       crash = crash.sort_values(by='date', ascending=False)
       crash = crash.drop_duplicates(subset=['operator', 'location','date']).dropna()
       crash = crash["date"].str.split(" ", n = 1, expand = True)
       crash = crash[1].str.split(",", n = 1, expand = True)
       crash["Crashes days"]=crash[0]
       crash["Crashes years"]=crash[1]
       crash = crash.filter(["Crashes days","Crashes years"], axis=1)
       crash = crash.drop(crash[crash['Crashes years']!='2018'].index)
       crash["Crashes months"]=crash[0]
       month_df=crash["Crashes months"]
       month_df=pd.DataFrame(month_df, columns = ["Crashes months"])

       def findMonth (m):
              months = {
              "January":1, "February":2, "March":3, "April":4, "May":5, "Jun":6, "July":7, "August":8, "September":9, "October":10, "November":11, "December":12
              }
              for month, numero in months.items(): 
                     if month in m: 
                            return numero
              return None
       month_crash["Crashes months"] = month_crash["Crashes months"].apply(findMonth)
       ["Crashes days"]=crash[0]
       crash["Crashes years"]=crash[1]
       new1 = new1.filter(["Crashes days","Crashes years"], axis=1)
       df_date = pd.concat([month_crash, new1], axis=1)
       mapping = {df_date.columns[0]:'Crashes Days', df_date.columns[2]: 'Crashes Years', df_date.columns[1]: 'Crashes Months'}
       df_date = df_date.rename(columns=mapping)
       crash.rename(columns={'operator':'Operator'}, inplace=True)
       crash.rename(columns={'location':'Location'}, inplace=True)
       return crash

def plot_operator(crash):
    category_data= crash.Operator.str.split('|', expand=True).stack().value_counts(0)/len(crash)*100
    category_data = category_data.round(1)
    category_data.head(5).plot('bar') 
    plt.title("Total crashes by operator")
    plt.savefig('Plot by operator')
plt.show()

def plot_location(crash):
    category_data= crash.Location.str.split('|', expand=True).stack().value_counts(0)/len(crash)*100
    category_data = category_data.round(1)
    category_data.head(5).plot('bar') 
    plt.title("Total crashes by location")
    plt.savefig('Plot by location')
plt.show()

SyntaxError: can't assign to literal (<ipython-input-1-382f23ca4573>, line 33)