# Pipelines project

In [1]:
import pandas as pd
import numpy as np

Este trabajo consiste en un estudio de las causas de muerte en Estados Unidos en el año 2015. Vamos a ver el DataFrame con el que vamos a trabajar así como otra tabla que corresponde a los códigos de causas de muerte de la primera tabla.

In [2]:
data = pd.read_csv('./2015_data.csv')

/home/marta/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (40,41,42,43,61,62,63,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
death = data.copy()

In [4]:
display(death.head())

,resident_status,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,sex,detail_age_type,detail_age,age_substitution_flag,age_recode_52,...,record_condition_18,record_condition_19,record_condition_20,race,bridged_race_flag,race_imputation_flag,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,1,NaN,3.0,1,1,M,1,84,NaN,42,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
1,1,NaN,6.0,1,1,M,1,70,NaN,40,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
2,1,NaN,3.0,1,1,F,1,91,NaN,44,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
3,1,NaN,3.0,1,1,F,1,40,NaN,34,...,NaN,NaN,NaN,3,NaN,NaN,2,3,100,8
4,1,NaN,5.0,1,1,F,1,89,NaN,43,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6

En primer lugar, vamos a observar la tabla con más detenimiento.

In [5]:
death.columns

Index(['resident_status', 'education_1989_revision', 'education_2003_revision',
       'education_reporting_flag', 'month_of_death', 'sex', 'detail_age_type',
       'detail_age', 'age_substitution_flag', 'age_recode_52', 'age_recode_27',
       'age_recode_12', 'infant_age_recode_22',
       'place_of_death_and_decedents_status', 'marital_status',
       'day_of_week_of_death', 'current_data_year', 'injury_at_work',
       'manner_of_death', 'method_of_disposition', 'autopsy', 'activity_code',
       'place_of_injury_for_causes_w00_y34_except_y06_and_y07_',
       'icd_code_10th_revision', '358_cause_recode', '113_cause_recode',
       '130_infant_cause_recode', '39_cause_recode',
       'number_of_entity_axis_conditions', 'entity_condition_1',
       'entity_condition_2', 'entity_condition_3', 'entity_condition_4',
       'entity_condition_5', 'entity_condition_6', 'entity_condition_7',
       'entity_condition_8', 'entity_condition_9', 'entity_condition_10',
       'entity_condition_11', 'entity_condition_12', 'entity_condition_13',
       'entity_condition_14', 'entity_condition_15', 'entity_condition_16',
       'entity_condition_17', 'entity_condition_18', 'entity_condition_19',
       'entity_condition_20', 'number_of_record_axis_conditions',
       'record_condition_1', 'record_condition_2', 'record_condition_3',
       'record_condition_4', 'record_condition_5', 'record_condition_6',
       'record_condition_7', 'record_condition_8', 'record_condition_9',
       'record_condition_10', 'record_condition_11', 'record_condition_12',
       'record_condition_13', 'record_condition_14', 'record_condition_15',
       'record_condition_16', 'record_condition_17', 'record_condition_18',
       'record_condition_19', 'record_condition_20', 'race',
       'bridged_race_flag', 'race_imputation_flag', 'race_recode_3',
       'race_recode_5', 'hispanic_origin', 'hispanic_originrace_recode'],
      dtype='object')

In [6]:
death.isnull().sum()

resident_status                                                 0
education_1989_revision                                   2645155
education_2003_revision                                     73043
education_reporting_flag                                        0
month_of_death                                                  0
sex                                                             0
detail_age_type                                                 0
detail_age                                                      0
age_substitution_flag                                     2718185
age_recode_52                                                   0
age_recode_27                                                   0
age_recode_12                                                   0
infant_age_recode_22                                      2694672
place_of_death_and_decedents_status                             0
marital_status                                                  0
day_of_week_of_death                                            0
current_data_year                                               0
injury_at_work                                                  0
manner_of_death                                            388364
method_of_disposition                                           0
autopsy                                                         0
activity_code                                             2504519
place_of_injury_for_causes_w00_y34_except_y06_and_y07_    2509983
icd_code_10th_revision                                          0
358_cause_recode                                                0
113_cause_recode                                                0
130_infant_cause_recode                                   2694672
39_cause_recode                                                 0
number_of_entity_axis_conditions                                0
entity_condition_1                                              0
                                                           ...
entity_condition_19                                       2718198
entity_condition_20                                       2718198
number_of_record_axis_conditions                                0
record_condition_1                                              0
record_condition_2                                         639568
record_condition_3                                        1302729
record_condition_4                                        1866692
record_condition_5                                        2251841
record_condition_6                                        2475480
record_condition_7                                        2595597
record_condition_8                                        2657804
record_condition_9                                        2689088
record_condition_10                                       2704744
record_condition_11                                       2712227
record_condition_12                                       2715789
record_condition_13                                       2717431
record_condition_14                                       2718016
record_condition_15                                       2718192
record_condition_16                                       2718198
record_condition_17                                       2718198
record_condition_18                                       2718198
record_condition_19                                       2718198
record_condition_20                                       2718198
race                                                            0
bridged_race_flag                                         2705910
race_imputation_flag                                      2692049
race_recode_3                                                   0
race_recode_5                                                   0
hispanic_origin                                                 0
hispanic_originrace_recode                                      0
Length: 77, dtype: int64

In [7]:
col_malas=death.drop(columns = ['current_data_year','injury_at_work','autopsy','icd_code_10th_revision','358_cause_recode','113_cause_recode'], axis=1)
death = col_malas
(death.head())

,resident_status,education_1989_revision,education_2003_revision,education_reporting_flag,month_of_death,sex,detail_age_type,detail_age,age_substitution_flag,age_recode_52,...,record_condition_18,record_condition_19,record_condition_20,race,bridged_race_flag,race_imputation_flag,race_recode_3,race_recode_5,hispanic_origin,hispanic_originrace_recode
0,1,NaN,3.0,1,1,M,1,84,NaN,42,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
1,1,NaN,6.0,1,1,M,1,70,NaN,40,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
2,1,NaN,3.0,1,1,F,1,91,NaN,44,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6
3,1,NaN,3.0,1,1,F,1,40,NaN,34,...,NaN,NaN,NaN,3,NaN,NaN,2,3,100,8
4,1,NaN,5.0,1,1,F,1,89,NaN,43,...,NaN,NaN,NaN,1,NaN,NaN,1,1,100,6

In [11]:
death.columns

Index(['resident_status', 'education_1989_revision', 'education_2003_revision',
       'education_reporting_flag', 'month_of_death', 'sex', 'detail_age_type',
       'detail_age', 'age_substitution_flag', 'age_recode_52', 'age_recode_27',
       'age_recode_12', 'infant_age_recode_22',
       'place_of_death_and_decedents_status', 'marital_status',
       'day_of_week_of_death', 'manner_of_death', 'method_of_disposition',
       'activity_code',
       'place_of_injury_for_causes_w00_y34_except_y06_and_y07_',
       '130_infant_cause_recode', '39_cause_recode',
       'number_of_entity_axis_conditions', 'entity_condition_1',
       'entity_condition_2', 'entity_condition_3', 'entity_condition_4',
       'entity_condition_5', 'entity_condition_6', 'entity_condition_7',
       'entity_condition_8', 'entity_condition_9', 'entity_condition_10',
       'entity_condition_11', 'entity_condition_12', 'entity_condition_13',
       'entity_condition_14', 'entity_condition_15', 'entity_condition_16',
       'entity_condition_17', 'entity_condition_18', 'entity_condition_19',
       'entity_condition_20', 'number_of_record_axis_conditions',
       'record_condition_1', 'record_condition_2', 'record_condition_3',
       'record_condition_4', 'record_condition_5', 'record_condition_6',
       'record_condition_7', 'record_condition_8', 'record_condition_9',
       'record_condition_10', 'record_condition_11', 'record_condition_12',
       'record_condition_13', 'record_condition_14', 'record_condition_15',
       'record_condition_16', 'record_condition_17', 'record_condition_18',
       'record_condition_19', 'record_condition_20', 'race',
       'bridged_race_flag', 'race_imputation_flag', 'race_recode_3',
       'race_recode_5', 'hispanic_origin', 'hispanic_originrace_recode'],
      dtype='object')

In [8]:
death.dtypes

resident_status                                             int64
education_1989_revision                                   float64
education_2003_revision                                   float64
education_reporting_flag                                    int64
month_of_death                                              int64
sex                                                        object
detail_age_type                                             int64
detail_age                                                  int64
age_substitution_flag                                     float64
age_recode_52                                               int64
age_recode_27                                               int64
age_recode_12                                               int64
infant_age_recode_22                                      float64
place_of_death_and_decedents_status                         int64
marital_status                                             object
day_of_week_of_death                                        int64
manner_of_death                                           float64
method_of_disposition                                      object
activity_code                                             float64
place_of_injury_for_causes_w00_y34_except_y06_and_y07_    float64
130_infant_cause_recode                                   float64
39_cause_recode                                             int64
number_of_entity_axis_conditions                            int64
entity_condition_1                                         object
entity_condition_2                                         object
entity_condition_3                                         object
entity_condition_4                                         object
entity_condition_5                                         object
entity_condition_6                                         object
entity_condition_7                                         object
                                                           ...
entity_condition_19                                       float64
entity_condition_20                                       float64
number_of_record_axis_conditions                            int64
record_condition_1                                         object
record_condition_2                                         object
record_condition_3                                         object
record_condition_4                                         object
record_condition_5                                         object
record_condition_6                                         object
record_condition_7                                         object
record_condition_8                                         object
record_condition_9                                         object
record_condition_10                                        object
record_condition_11                                        object
record_condition_12                                        object
record_condition_13                                        object
record_condition_14                                        object
record_condition_15                                        object
record_condition_16                                       float64
record_condition_17                                       float64
record_condition_18                                       float64
record_condition_19                                       float64
record_condition_20                                       float64
race                                                        int64
bridged_race_flag                                         float64
race_imputation_flag                                      float64
race_recode_3                                               int64
race_recode_5                                               int64
hispanic_origin                                             int64
hispanic_originrace_recode                                  int64
Length: 71, dtype: object

In [9]:
#death = death.rename('39_cause_recode':'Cause of Death', inplace=True)

#death

In [10]:
#df.rename(index=str, columns={"A": "a", "C": "c"})
death = death.rename(index=str, columns={"39_cause_recode": 'Cause of death'})

MemoryError:

In [34]:
#eath = death.rename({'39_cause_recode':'Cause of Death'},inplace = True)
death.rendk, columns={"A": "a", "C": "c"})

In [35]:
causes = pd.read_csv('./CauseRecode39.csv')

Disponemos del nombre de las enfermedades, que están codificadas en la tabla de arriba.

In [36]:
causes

    Code                                        Description
0      1                                       Tuberculosis
1      2                                           Syphilis
2      3                                                HIV
3      5                      Malignant neoplasm of stomach
4      6      Malignant neoplasms of colon, rectum and anus
5      7                     Malignant neoplasm of pancreas
6      8  Malignant neoplasms of trachea, bronchus and lung
7      9                       Malignant neoplasm of breast
8     10  Malignant neoplasms of cervix uteri, corpus ut...
9     11                     Malignant neoplasm of prostate
10    12                Malignant neoplasms of urinary trac
11    13                             Non-Hodgkin's lymphoma
12    14                                           Leukemia
13    15                          Other malignant neoplasms
14    16                                  Diabetes mellitus
15    17                                Alzheimer's disease
16    20  Hypertensive heart disease with or without ren...
17    21                            Ischemic heart diseases
18    22                            Other diseases of heart
19    23  Essential (primary) hypertension and hypertens...
20    24                           Cerebrovascular diseases
21    25                                    Atherosclerosis
22    26               Other diseases of circulatory system
23    27                            Influenza and pneumonia
24    28                 Chronic lower respiratory diseases
25    29                                       Peptic ulcer
26    30                Chronic liver disease and cirrhosis
27    31       Nephritis, nephrotic syndrome, and nephrosis
28    32  Certain conditions originating in the perinata...
29    33  Congenital malformations, deformations and chr...
30    34                       Sudden infant death syndrome
31    35  Symptoms, signs and abnormal clinical and labo...
32    36                                 All other diseases
33    37                            Motor vehicle accidents
34    38  All other and unspecified accidents and advers...
35    39                    Intentional self-harm (suicide)
36    40                                 Assault (homicide)
37    41                          All other external causes

Ahora podemos proceder a sustituir los números (códigos) por los nombres de causas de muerte que nos interesan. Para este estudio nos centraremos en las causas de muerte siguientes: enfermedades cardiacas, cáncer, tráfico y homicidios.

In [38]:
def homog_causes (v):

    cause_recode = {

        "16":"Heart diseases", 
        "17":"Heart diseases", 
        "18":"Heart diseases", 
        "3":"Cancer", 
        "4 ":"Cancer", 
        "5":"Cancer",
        "6":"Cancer",
        "7":"Cancer",
        "8":"Cancer",
        "9":"Cancer",
        "10":"Cancer",
        "11":"Cancer",
        "12":"Cancer",
        "13":"Cancer",
        "37":"Motor vehicle accidents",
        "36":"Homicide",
        

    }

    for death, fila in death.items(): 

        if death in v: 

            return fila

    return None

In [1]:
death

NameError: name 'death' is not defined